[Unit]
Desription=Stadia controller BT, respawn, after bluetooth
After=bluetooth.target
Require=bluetooth.target

[Service]
ExecStart=/home/pi/wrapper
Restart=always

[Install]
WantedBy=multi-user.target
